<section class="section certifications-section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-certificate fa-stack-1x fa-inverse"></i>
    </span> Certificações
    </h2>

    <div class="data-table data-table-grid data-table__tweak-no-margin">
        <div class="data-table__rows data-table-grid__rows" style="
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
">
            <div style="display: flex;
            flex-direction: column;">
                <div class="data-table-row data-table-row-grid data-table-row__tweak-no-margin">
                    <div class="col data-table-content data-table-content__no-margin data-table-content-grid">
                        <div class="cr-public-earned-badge-grid-item__container">
                            <div class="cr-standard-grid-item-content c-badge c-badge--medium">
                                <img class="cr-standard-grid-item-content__image" src="https://images.credly.com/size/220x220/images/84f513e4-256d-4aa0-a29d-973bcb39d87a/Programming_in_HTML5_with_JavaScript_and_Css3-01.png" width="110" alt="Exam 480: Programming in HTML5 with JavaScript and CSS3"
                                    height="110">
                                <a class="cr-public-earned-badge-grid-item c-grid-item" title="Exam 480: Programming in HTML5 with JavaScript and CSS3" href="https://credly.com/badges/664bfc6d-0fe2-48e0-9602-b1d493d947f2">
                                    <p>Exam 480: Programming in HTML5 with JavaScript and CSS3</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data-table-row data-table-row-grid data-table-row__tweak-no-margin">
                    <div class="col data-table-content data-table-content__no-margin data-table-content-grid">
                        <div class="cr-public-earned-badge-grid-item__container">
                            <div class="cr-standard-grid-item-content c-badge c-badge--medium">
                                <img class="cr-standard-grid-item-content__image" src="https://images.credly.com/size/220x220/images/3be57d7c-55de-4119-9ca9-738e20c0fae0/Scrum-Foundation-Professional-Certificate-SFPC-2021_.png" width="110" alt="CertiProf Scrum Foundation Professional Certificate - SFPC™"
                                    height="110">
                                <a class="cr-public-earned-badge-grid-item c-grid-item" title="Scrum Foundation Professional Certificate - SFPC™" href="https://credly.com/badges/245f3030-9518-40d3-ad9e-3770caad50af"></a>
                                <p>Scrum Foundation Professional Certificate - SFPC™</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex;
            flex-direction: column;">
                <div class="data-table-row data-table-row-grid data-table-row__tweak-no-margin">
                    <div class="col data-table-content data-table-content__no-margin data-table-content-grid">
                        <div class="cr-public-earned-badge-grid-item__container">
                            <div class="cr-standard-grid-item-content c-badge c-badge--medium">
                                <img class="cr-standard-grid-item-content__image" src="https://images.credly.com/size/220x220/images/cbab3216-025d-4601-86ee-c5970b348d48/Developing_ASP.NET_MVC_Web_Applications-01.png" width="110" alt="Exam 486: Developing ASP.NET MVC Web Applications"
                                    height="110">
                                <a class="cr-public-earned-badge-grid-item c-grid-item" title="Exam 486: Developing ASP.NET MVC Web Applications" href="https://credly.com/badges/0b6e1353-aae1-4b2b-9ad6-1a6a9fbed9df">
                                    <p>Exam 486: Developing ASP.NET MVC Web Applications</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data-table-row data-table-row-grid data-table-row__tweak-no-margin">
                    <div class="col data-table-content data-table-content__no-margin data-table-content-grid">
                        <div class="cr-public-earned-badge-grid-item__container">
                            <div class="cr-standard-grid-item-content c-badge c-badge--medium"><img class="cr-standard-grid-item-content__image" src="https://images.credly.com/size/220x220/images/9b597652-5359-4187-86dc-9eee5d779741/Fundamentos-Na-Lei-Geral-De-Prote%C3%A7%C3%A3o-De-Dados---LGPDF.png" width="110" alt="Fundamentos Na Lei Geral De Proteção De Dados - LGPDF™"
                                    height="110">
                                <a class="cr-public-earned-badge-grid-item c-grid-item" title="Fundamentos Na Lei Geral De Proteção De Dados - LGPDF™" href="https://credly.com/badges/37c17c4e-65cd-46f2-a418-df58a879f1d9">
                                    <p>Fundamentos Na Lei Geral De Proteção De Dados - LGPDF™</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex;
                flex-direction: column;">
                <div class="data-table-row data-table-row-grid data-table-row__tweak-no-margin">
                    <div class="col data-table-content data-table-content__no-margin data-table-content-grid">
                        <div class="cr-public-earned-badge-grid-item__container">
                            <div class="cr-standard-grid-item-content c-badge c-badge--medium">
                                <img class="cr-standard-grid-item-content__image" src="https://images.credly.com/size/220x220/images/b87c24db-0e54-4f78-8059-eb47675d585d/MCSA-Web_Applications.png" width="110" alt="MCSA: Web Applications - Certified 2020" height="110">
                                <a class="cr-public-earned-badge-grid-item c-grid-item" title="MCSA: Web Applications - Certified 2020" href="https://credly.com/badges/91cdc12f-83f7-49e1-870d-9cefa9d03ae3"></a>
                                <p>MCSA: Web Applications - Certified 2020</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data-table-row data-table-row-grid data-table-row__tweak-no-margin">
                    <div class="col data-table-content data-table-content__no-margin data-table-content-grid">
                        <div class="cr-public-earned-badge-grid-item__container">
                            <div class="cr-standard-grid-item-content c-badge c-badge--medium">
                                <img class="cr-standard-grid-item-content__image" src="https://images.credly.com/size/220x220/images/f5cf37e4-6ebd-4067-96a9-b26d04f51ff7/CertiProf-Badge-LLL.png" width="110" alt="Lifelong Learning" height="110">
                                <a class="cr-public-earned-badge-grid-item c-grid-item" title="Lifelong Learning" href="https://credly.com/badges/b2f7a9e9-0976-49fa-8827-75a5a341a2cd">
                                    <p>Lifelong Learning</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--//section-->