{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->
<!--<img src="https://i.stack.imgur.com/KtozC.png" alt="pluralsight skill iq" style="width: 100%;">-->
  <img src="https://images.youracclaim.com/size/680x680/images/b87c24db-0e54-4f78-8059-eb47675d585d/MCSA-Web_Applications.png" alt="MCSA-Web_Applications" style="width: 100%;">
  
  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}

</div><!--//sidebar-wrapper-->
