@media print {
    @page {
        size: A4;
    }
    body {
        font-size: 12pt;
    }
    a[href]:after {
        content: none !important;
    }
    img[src]:after {
        content: none !important;
    }
    img.avatar {
        //      filter: grayscale(1);
        //      -webkit-filter: greyscale(1);
        border: 5px solid #fff !important;
        width: 200px;
    }
    .main-wrapper .time {
        float: right;
        color: black !important;
        -webkit-print-color-adjust: exact;
    }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        background-color: #cecece !important;
        margin-left: 10px !important;
    }
    .remove-container.container-block,
    .cr-standard-grid-item-content__image,
    .cert-profile-image,
    .c-grid-item,
    footer {
        display: none;
    }
    .badge-title {
        font-size: 10pt;
        display: block !important;
    }
    .skillset .level-bar-inner {
        background-color: black !important;
        -webkit-print-color-adjust: exact;
    }
    .level-bar {
        background-color: #f5f5f5 !important;
    }
    .skills-section {
        page-break-before: always;
    }
}