---

---

@charset "utf-8";

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials

.feed-s-hero-entity__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
}
.badge-title-print,
.badge-title {
    font-size: 65%;
    width: 120px;
    text-align: center;
    height: 40px;
}
p.title {
    font-size: 80%;
    line-height: 0rem;
    margin-bottom: 3rem;
    text-indent: 40px;
}
.badge-title-print {
    display: none;
}